<div class="container-fluid">
	<h3>{{myEvaluation.Title}} ({{myEvaluation.TitleEN}})</h3>
	<h5>{{myEvaluation.IntroText}} ({{myEvaluation.IntroTextEN}})</h5>

	<ul class="noBulletList">
		<li ng-repeat="question in allQuestions"><evaluation-question ng-model="question"></evaluation-question></li>
	</ul>

	<button type="button" class="btn btn-success" ng-click="submitEvaluation()">Submit</button>
	
</div>