<div class="form-group">
	<div class="row">
		<div class="col-md-4">
			<form name ="loginform">
				<label for="nickname" class="control-label">Username</label>
				<input type="text" class="form-control" autofocus id="nickname" name="loginbox" ng-model="nickname" required/>
				<div ng-cloak ng-show="loginform.loginbox.$invalid">
					<small>Please enter a username</small>
				</div>
			</form>
		</div>	
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<button type="button" class="btn btn-success" ng-click="login()">Enter</button> 
	</div>
</div>