<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>

<div class="container-fluid">
	<h3 class="Title">Welcome {{user.FullName}}</h3>
	<!-- logged in as admin -->
	<div ng-cloack ng-show="role === 'admin'"> 
		<div class="row">
			<div class="col-md-6">
				<div class="well">
					<h4 class="Title">Active Evalutations</h4>
					<ul class="noBulletList">
						<li><button type="button" class="btn btn-xs btn-success" ng-click="createEvaluation()">+</button></li>
						<li ng-repeat="eval in evaluations"><a href="#/results/{{eval.ID}}">{{eval.TemplateTitle}} ({{eval.TemplateTitleEN}}) <br> {{eval.StartDate | date: 'dd.MM.yyyy HH:mm:ss'}} - {{eval.StartDate | date: 'dd.MM.yyyy HH:mm:ss'}} - {{eval.Status}}</a></li>
					</ul>
				</div>
				<div ng-cloak ng-show="addEvaluation === true">
					<div class="input-group">
						Templates: <select ng-options="opt for opt in selectOptions" ng-model="selectedTemplate"></select>
						<div>Start: <input type="datetime-local" ng-model="startDate"></div>
						<div>End: <input type="datetime-local" ng-model="endDate"></div>
						<div><button type="button" class="btn btn-info" ng-click="sendEvaluation()">Post</button></div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="well">
					<h4 class="Title">Evaluation templates</h4>
					<ul class="noBulletList">
						<li><button type="button" class="btn btn-xs btn-success" ng-click="createTemplate()">+</button></li>
						<li ng-repeat="temp in evaluationTemplates">[{{temp.ID}}] - {{temp.Title}} ({{temp.TitleEN}})</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- logged in as student -->
	<div ng-cloack ng-show="role === 'student'">
		<div class="row">
			<div class="well">
				<ul class="noBulletList">
					<li ng-repeat="eval in myEvaluations"><a ng-click="answer(eval)">{{eval.CourseName}} - {{eval.CourseID}} ({{eval.CourseNameEN}})</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>