<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>

<div class="container-fluid">
	<div class="singleQuestion">
		<div class="row">
			<div class="col-md-12">
				<h2 class="Title">New Template</h2>
				<div class="input-group">
					<input type="text" class="form-control" autofocus placeholder="Title" ng-model="titleIs">
					<input type="text" class="form-control" placeholder="English Title" ng-model="titleEn">
					<input type="text" class="form-control" placeholder="Intro Text" ng-model="introIs">
					<input type="text" class="form-control" placeholder="English Intro Text" ng-model="introEn">
				</div>
			</div>
		</div>
	</div>
	<div class="singleQuestion">
		<h4>Course Questions</h4>
		<div class="row">
			<div class="col-md-9">
				<div class="input-group">
		      		<input type="text" class="form-control" placeholder="Text" ng-model="cText">
			      	<input type="text" class="form-control" placeholder="English Text" ng-model="cTextEn">
			      	<input type="url" class="form-control" placeholder="Image URL" ng-model="cImageUrl">
		      	</div>
		    </div>
		    <div class="col-md-3">
		      	<button type="btn" class="btn btn-danger" ng-click="addCourseQuestion()">Add question</button>
		    </div>
		</div>
	</div>
	<div class="row">
		<label>Question Type</label>
      	<select ng-options="opt for opt in selectOptions" ng-model="selectedCourseType"></select>
      	<div ng-cloack ng-show="selectedCourseType !== 'text'">
      		<div class="row">
      			<div class="col-md-2">
      				<button type="btn" class="btn btn-success btn-sm" ng-click="addCourseQuestionChoice()">Add Choice</button>
      			</div>
      			<div class="col-md-6">
      				<div class="well">
      					<h5>Choices added</h5>
						<ul>
							<li ng-repeat="choice in cChoices">{{choice.Text}} ({{choice.TextEN}}) - {{choice.Weight}}</li>
						</ul>
					</div>
		      		<div class="input-group">
		      			<input type="text" class="form-control" placeholder="Text" ng-model="cAnsText">
		      			<input type="text" class="form-control" placeholder="English Text" ng-model="cAnsTextEn">
		      			<input type="url" class="form-control" placeholder="Image URL" ng-model="cAnsImageUrl">
		      			<input type="number" class="form-control" placeholder="Weight" ng-model="cAnsWeight">
		      		</div>
				</div>
			</div>
      	</div>
    </div>
    <div class="row">
    	<div class="col-md-8">
			<div class="well">
				<h5>Added questions</h5>
				<ul>
					<li ng-repeat="cQuest in cQuestions">{{cQuest.Text}} ({{cQuest.TextEN}})</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="singleQuestion">
		<h4>Teacher Questions</h4>
		<div class="row">
			<div class="col-md-9">
				<div class="input-group">
			      	<input type="text" class="form-control" placeholder="Text" ng-model="tText">
			      	<input type="text" class="form-control" placeholder="English Text" ng-model="tTextEn">
			      	<input type="url" class="form-control" placeholder="Image URL" ng-model="tImageUrl">
			    </div>
			</div>
			<div class="col-md-3">
				<button type="btn" class="btn btn-danger" ng-click="addTeacherQuestion()">Add question</button>
			</div>
		</div>
	</div>	
	<div class="row">
		<label>Question Type</label>
      	<select ng-options="opt for opt in selectOptions" ng-model="selectedTeacherType"></select>
      	<div ng-cloack ng-show="selectedTeacherType !== 'text'">
      		<div class="row">
      			<div class="col-md-2">
      				<button type="btn" class="btn btn-success btn-sm" ng-click="addTeacherQuestionChoice()">Add Choice</button>
      			</div>
	  			<div class="col-md-6">
      				<div class="well">
      					<h5>Choices added</h5>
						<ul>
							<li ng-repeat="choice in tChoices">{{choice.Text}} ({{choice.TextEN}}) - {{choice.Weight}}</li>
						</ul>
					</div>
		      		<div class="input-group">
		      			<input type="text" class="form-control" placeholder="Text" ng-model="tAnsText">
		      			<input type="text" class="form-control" placeholder="English Text" ng-model="tAnsTextEn">
		      			<input type="url" class="form-control" placeholder="Image URL" ng-model="tAnsImageUrl">
		      			<input type="number" class="form-control" placeholder="Weight" ng-model="tAnsWeight">
		      		</div>
				</div>
			</div>
    	</div>
    </div>
    <div class="row">
    	<div class="col-md-8">
			<div class="well">
				<h5>Added questions</h5>
				<ul>
					<li ng-repeat="tQuest in tQuestions">{{tQuest.Text}} ({{tQuest.TextEN}})</li>
				</ul>
			</div>
		</div>
	</div>
	<button type="btn" class="btn btn-success btn-lg" ng-click="submitTemplate()">Create Template</button>
</div>