<!-- Teacher Question -->
<div class="singleQuestion" ng-cloak ng-show="ngModel.Teacher !== undefined">
	<div class="row">
		<div class="col-md-4">
			<div><h4>{{ngModel.Teacher.FullName}}</h4></div>
			<div><h4>{{ngModel.Question.Text}} ({{ngModel.Question.TextEN}})</h4></div>
		</div>
		<div class="col-md-8">
			<div ng-cloak ng-show="ngModel.Teacher.ImageURL !== ''">
				<div ng-cloak ng-show="ngModel.Teacher.SSN === '0000000035'">
					<img src="http://www.icetcs.ru.is/dario/img/fotoHead.jpg" height="150" width="auto">
				</div>
				<div ng-cloak ng-show="ngModel.Teacher.SSN !== '0000000035'">
					<img src="{{ngModel.Teacher.ImageURL}}">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div ng-cloak ng-show="ngModel.Question.Type === 'text'">
				<input type="textbox" ng-model="ngModel.answer">
			</div>

			<div ng-cloak ng-show="ngModel.Question.Type === 'single'">
				<div ng-repeat="ans in ngModel.Question.Answers">
					<input type="radio" ng-model="ngModel.answer" ng-value="ans.ID"> {{ans.Text}}<br/>
				</div>
			</div>

			<div ng-cloak ng-show="ngModel.Question.Type === 'multiple'">
				<div ng-repeat="ans in ngModel.Question.Answers">
					<input type="checkbox" ng-model="ngModel.answer[ans.ID]"> {{ans.Text}}<br/>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div ng-cloak ng-show="ngModel.Question.ImageURL !== ''">
				<img src="{{ngModel.Question.ImageURL}}">
			</div>
		</div>
	</div>
</div>

<!-- Course Question -->
<div class="singleQuestion" ng-cloak ng-show="ngModel.Teacher === undefined">
	<div class="row">
		<div class="col-md-4">
			<div><h4>{{ngModel.Text}} ({{ngModel.TextEN}})</h4></div>
			<div ng-cloak ng-show="ngModel.ImageURL !== ''">
				<p>Image here...</p>
			</div>

			<div ng-cloak ng-show="ngModel.Type === 'text'">
				<input type="textbox" ng-model="ngModel.answer">
			</div>

			<div ng-cloak ng-show="ngModel.Type === 'single'">
				<div ng-repeat="ans in ngModel.Answers">
					<input type="radio" ng-model="ngModel.answer" ng-value="ans.ID"> {{ans.Text}}<br/>
				</div>
			</div>

			<div ng-cloak ng-show="ngModel.Type === 'multiple'">
				<div ng-repeat="ans in ngModel.Answers">
					<input type="checkbox" ng-model="ngModel.answer[ans.ID]"> {{ans.Text}}<br/>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div ng-cloak ng-show="ngModel.ImageURL !== ''">
				<img src="{{ngModel.ImageURL}}">
			</div>
		</div>
	</div>
</div>