<div ng-repeat="c in evaluation.Courses">
	<div class="well">
		<a ng-click="showEval(c.CourseID)">{{c.CourseName}} ({{c.CourseNameEN}}) - {{c.CourseID}}</a>
		<div ng-cloak ng-show="c.CourseID === selectedCourse">
			<ul>
				<li ng-repeat="q in allQuestions track by $index">
					<!-- Teacher Question -->
					<div ng-cloak ng-show="q.Teacher !== undefined">
						<div><p>{{q.Teacher.FullName}}</p></div>
						<div class="row">
							<div class="col-md-6">
								<div><p>{{q.Question.Text}} ({{q.Question.TextEN}})</p></div>
								<div ng-cloak ng-show="q.Teacher.ImageURL !== ''">
									<div ng-cloak ng-show="q.Teacher.SSN === '0000000035'">
										<img src="http://www.icetcs.ru.is/dario/img/fotoHead.jpg" height="150" width="auto">
									</div>
									<div ng-cloak ng-show="q.Teacher.SSN !== '0000000035'">
										<img src="{{q.Teacher.ImageURL}}">
									</div>
								</div>
								<!-- Text question -->
								<div ng-cloak ng-show="q.Question.Type === 'text'">
									<ul>
										<li ng-repeat="ans in q.Question.TextResults track by $index">{{ans}}</li>
									</ul>
								</div>
								<!-- Single/Multiple Choice question -->
								<div ng-cloak ng-show="q.Question.Type !== 'text'">
									<div ng-repeat="ans in q.Question.OptionsResults">
										[{{ans.Weight}}] {{ans.AnswerText}} ({{ans.AnswerTextEN}}): {{ans.Count}}
									</div>
									<button type="button" class="btn btn-info" ng-click="showChart(q.Question)">Chart</button>
								</div>
							</div>
							<div class="col-md-6">
								<div ng-cloak ng-show="selectedQuestion === q.Question.QuestionID && selectedTeacher === q.Teacher.SSN && chartShown">
									<div google-chart chart="chart"></div>
								</div>
							</div>
						</div>
					</div>
					<!-- Course Question -->
					<div ng-cloak ng-show="q.Teacher === undefined">
						<div class="row">
							<div class="col-md-6">
								<div><p>{{q.Text}} ({{q.TextEN}})</p></div>
								<!-- Text question -->
								<div ng-cloak ng-show="q.Type === 'text'">
									<ul>
										<li ng-repeat="ans in q.TextResults track by $index">{{ans}}</li>
									</ul>
								</div>
								<!-- Single/Multiple Choice question -->
								<div ng-cloak ng-show="q.Type !== 'text'">
									<div ng-repeat="ans in q.OptionsResults">
										[{{ans.Weight}}] {{ans.AnswerText}} ({{ans.AnswerTextEN}}): {{ans.Count}}
									</div>
									<button type="button" class="btn btn-info" ng-click="showChart(q)">Chart</button>
								</div>
							</div>
							<div class="col-md-6">
								<div ng-cloak ng-show="selectedQuestion === q.QuestionID && chartShown">
									<div google-chart chart="chart"></div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
